.fa.fa-margin {
  margin-right: 10px;
}
.reveal section img {
  max-height: 600px;
}
.reveal h1.sub,
.reveal h2.sub,
.reveal h3.sub {
  color: #ddd;
}
.reveal h1.sub img,
.reveal h2.sub img,
.reveal h3.sub img {
  opacity: 0.5;
}
.reveal h1 img,
.reveal h2 img,
.reveal h3 img {
  border: none;
  max-height: 100px;
  vertical-align: middle;
  margin-right: 10px;
}
.reveal .slides pre {
  width: 95%;
}
.reveal .slides .text-middle {
  vertical-align: middle;
}
.reveal .slides img.small {
  max-height: 500px;
}

.reveal .slides p {
  font-size: 80%; 
}

.reveal .slides {
  width: 1200px !important;
}

.reveal .slides section {
  top: 0px !important;
}

.reveal section img {
  margin: 0;
}